*.swp
Makefile.in
*.so
*.o
*~
aclocal.m4
autom4te.cache/
compile
config.guess
config.sub
configure
depcomp
install-sh
ltmain.sh
m4/
missing
*wrap.c
Makefile
config.log
config.status
libtool
test-driver
test-suite.log
test/*.log
test/*.trs
__pycache__/
*.pyc
*.egg-info/
**/*_binding.py
!tests/*_binding.py
NVChip
build/
dist/
docs/build/
pages/
public/
*.h
.coverage
*.orig
*.rej
htmlcov
/.pytest_cache/
tpm2_pytss/internal/type_mapping.py
