name: Publish PyPI Package

on:
  push:
    tags:
      - '*'

jobs:
  publish:
    runs-on: ubuntu-20.04
    steps:
    - name: Checkout Repository
      uses: actions/checkout@v2

    - name: Set up Python 3.7
      uses: actions/setup-python@v2
      with:
        python-version: 3.7

    - name: Install Dependencies
      env:
        TPM2_TSS_VERSION: 3.0.0
      run: |
        python3 -m pip install --user --upgrade pip
        python3 -m pip install --user --upgrade twine
        ./.ci/install-deps.sh

    - name: Test
      env:
        TEST: 1
      run: ./.ci/run.sh

    - name: Publish to PyPi
      env:
        PUBLISH_PKG: 1
        TWINE_USERNAME: __token__
        TWINE_PASSWORD: ${{ secrets.PYPI_TPM2_PYTSS }}
      run: ./.ci/run.sh
